main {
  background-color: rgb(250, 250, 250);
  --fornt: Arial;
}
.w100p_mw614 {
  width: 100%;
  max-width: 614px;
}
.fas {
  color: #ea4040;
}

#item_container > .item {
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  background-color: white;
  font-family: var(--fornt);
}
